body{
    font-family:Arial;
    background:#f0f0f0;
}

header,footer{
    background:navy;
    color:white;
    text-align:center;
    padding:10px;
}

section{
    background:white;
    padding:15px;
    margin:10px;
}

table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    padding:5px;
}
